@charset "UTF-8";
.header {
  padding: 5px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header_top {
  border-bottom: 1px solid #e6e6e6;
}

.header_top {
  padding: 10px 0;
}

.header_top h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #6c757d;
  font-weight: 400;
}

.btn_drop_lang,
.btn_drop_Currency {
  position: relative;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}

.btn_drop_lang img,
.btn_drop_Currency img {
  -webkit-margin-end: 3px;
          margin-inline-end: 3px;
}

.btn_drop_lang i,
.btn_drop_Currency i {
  font-size: 10px;
}

.btn_drop_lang:hover .ul_drop,
.btn_drop_Currency:hover .ul_drop {
  opacity: 1;
  visibility: visible;
  z-index: 30;
}

.btn_drop_lang .ul_drop,
.btn_drop_Currency .ul_drop {
  top: 30px;
}

.header_top,
.div_lang_parant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

.btn_drop_Currency {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.header_top .ul_drop,
.div_lang_parant .ul_drop {
  min-width: 153px;
}

.logo_ img {
  max-width: 100%;
}

.input_div_parant {
  z-index: 99;
  width: 627px;
}

.input_div_parant .input_div_t {
  margin: auto;
  position: relative;
  width: 100%;
}

.input_div_parant .input_div_t .input_search {
  width: 100%;
  background-color: #fafafa;
  font-size: 14px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  height: 44px;
  color: #6c757d;
  font-weight: 400;
  border: 1px solid #e6e6e6;
}

.input_div_parant .input_div_t .input_search::-webkit-input-placeholder {
  color: #6c757d;
}

.input_div_parant .input_div_t .input_search:-ms-input-placeholder {
  color: #6c757d;
}

.input_div_parant .input_div_t .input_search::-ms-input-placeholder {
  color: #6c757d;
}

.input_div_parant .input_div_t .input_search::placeholder {
  color: #6c757d;
}

.input_div_parant .input_div_t .input_search:focus {
  outline: 0;
  border-color: #ffcf03;
}

.input_div_parant .input_div_t .btn_search {
  font-size: 22px;
  width: 35px;
  height: 35px;
  color: #000000;
  background-color: #ffcf03;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
}

html[dir="rtl"] .input_div_parant .input_div_t .btn_search {
  left: 4px;
}

html[dir="ltr"] .input_div_parant .input_div_t .btn_search {
  right: 4px;
}

.input_div_parant .input_div_t .btn_search:hover {
  color: #ff2901;
}

.user_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.user_div .btn_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  cursor: pointer;
}

.user_div .btn_icon i {
  font-size: 30px;
}

.user_div .btn_icon p {
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
}

.user_div .btn_icon:hover .ul_drop {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.user_div .btn_mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.user_div .btn_shopping {
  position: relative;
}

.user_div .btn_shopping span {
  position: absolute;
  left: 17px;
  top: 0;
  border-radius: 50%;
  background-color: #ffcf03;
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: 500;
}

html[dir="rtl"] .user_div .btn_shopping span {
  right: 0;
}

.user_div .div_user {
  position: relative;
  z-index: 30;
}

.user_div .div_user::after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  font-size: 10px;
  -webkit-margin-start: 2px;
          margin-inline-start: 2px;
}

.user_div .ul_drop {
  top: 28px;
  min-width: 141px;
}

html[dir="ltr"] .user_div .ul_drop {
  left: 9px;
}

html[dir="rtl"] .user_div .ul_drop {
  right: 9px;
}

nav {
  margin-bottom: 20px;
  background-color: #ffcf03;
}

nav .btn_drop_lang,
nav .btn_drop_Currency {
  display: none;
}

nav .ul_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .ul_nav > li {
  padding: 13px 0;
}

nav .ul_nav > li:last-child .ul_drop {
  right: -90px;
}

html[dir="ltr"] nav .ul_nav > li:last-child .ul_drop {
  left: -77px;
}

nav .ul_nav > li .anc_nav {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
  display: inline-block;
}

nav .ul_nav > li .anc_nav:hover {
  text-decoration: underline;
}

nav .ul_nav > li .active_c {
  color: #ff2901;
}

nav .ul_nav .li_hover {
  position: relative;
  z-index: 20;
}

nav .ul_nav .li_hover .anc_nav::after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  font-size: 10px;
  color: #000000;
}

nav .ul_nav .li_hover .ul_drop {
  top: 49px;
}

nav .ul_nav .li_hover .ul_drop .anc_menu {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Tajawal";
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
}

nav .ul_nav .li_hover .ul_drop .anc_menu:hover {
  color: #ffcf03;
}

nav .ul_nav .li_hover:hover .ul_drop {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

nav .close_ {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header_parant .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header_parant .header .logo_ {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header_parant .header .input_div_parant {
    display: none;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin-top: 10px;
  }
  .header_parant .header .input_div_parant .input_div_t {
    width: 100%;
  }
  .header_parant .header .user_div {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header_parant .header .user_div .ul_drop {
    text-align: center;
  }
  html[dir="ltr"] .header_parant .header .user_div .ul_drop {
    left: 9px;
  }
  html[dir="rtl"] .header_parant .header .user_div .ul_drop {
    right: -80px;
  }
}

.toggle_ {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media only screen and (max-width: 767px) {
  .header_parant .header_top {
    display: none;
  }
  .header_parant .header_top p {
    display: none;
  }
  .header_parant .header {
    padding: 15px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_parant .header .logo_ img {
    width: 110px;
  }
  .header_parant .header .btn_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_parant .header .btn_icon {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    -webkit-margin-start: 20px;
            margin-inline-start: 20px;
    width: 18px;
    height: auto;
  }
  .header_parant .header .btn_icon:hover {
    background-image: none;
    color: #ffcf03;
  }
  .header_parant .header .btn_icon .ul_drop {
    top: 35px;
    -webkit-transform: inherit;
            transform: inherit;
  }
  html[dir="rtl"] .header_parant .header .btn_icon .ul_drop {
    left: -40px;
  }
  html[dir="ltr"] .header_parant .header .btn_icon .ul_drop {
    right: -40px;
  }
  .header_parant .header .btn_icon .ul_drop::after {
    left: 33%;
  }
  .header_parant .header .btn_icon p {
    display: none;
  }
  .header_parant .header .user_div {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }
  .header_parant .header .user_div .ul_drop {
    -webkit-transform: translate(none);
            transform: translate(none);
  }
  html[dir="ltr"] .header_parant .header .user_div .ul_drop {
    left: -86px;
  }
  html[dir="ltr"] .header_parant .header .user_div .ul_drop::after {
    left: 65%;
  }
  .header_parant .header .user_div .div_user::after {
    display: none;
  }
  .user_div {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 145px;
    background-color: #ffcf03;
    display: none;
    z-index: 99;
  }
  nav .div_lang_parant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .btn_drop_lang,
  nav .btn_drop_Currency {
    display: block;
  }
  nav .div_lang_parant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 30px;
  }
  html[dir="rtl"] nav .div_lang_parant {
    right: 20px;
  }
  html[dir="ltr"] nav .div_lang_parant {
    left: 20px;
  }
  html[dir="rtl"] nav .div_lang_parant .ul_drop {
    left: -2%;
  }
  html[dir="ltr"] nav .div_lang_parant .ul_drop {
    left: -2%;
  }
  html[dir="rtl"] nav {
    right: 0;
  }
  html[dir="ltr"] nav {
    left: 0;
  }
  nav .close_ {
    position: absolute;
    top: 30px;
    font-size: 25px;
    color: #000000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: block;
    cursor: pointer;
  }
  nav .close_:hover {
    color: #ffffff;
  }
  html[dir="rtl"] nav .close_ {
    left: 20px;
  }
  html[dir="ltr"] nav .close_ {
    right: 20px;
  }
  nav .ul_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .ul_nav > li {
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  nav .ul_nav > li .anc_nav {
    padding: 0;
  }
  nav .ul_nav > li .anc_nav i {
    font-size: 11px;
  }
  nav .ul_nav .ul_drop {
    position: static;
    -webkit-transition: inherit;
    transition: inherit;
    visibility: inherit;
    z-index: 1;
    opacity: inherit;
    -webkit-transform: none;
            transform: none;
    min-width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px 0 0;
    display: none;
    text-align: center;
    padding: 10px;
  }
  nav .ul_nav .ul_drop li:first-child {
    margin-bottom: 0;
  }
  nav .ul_nav .li_hover .ul_drop .anc_menu {
    margin-bottom: 5px;
  }
}

footer {
  padding: 60px 0 50px;
  background-color: #000000;
}

footer .f_div .f_btn {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

footer .f_div .ul_list {
  text-align: start;
}

footer .f_div .ul_list a {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #5c5c5c;
}

footer .f_div .ul_list a:hover {
  color: #ffcf03;
}

html[dir="rtl"] footer .f_div .ul_list a:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

html[dir="ltr"] footer .f_div .ul_list a:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

footer .newslatter {
  text-align: start;
}

footer .newslatter h4 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

footer .newslatter p {
  font-size: 16px;
  color: #5c5c5c;
  font-weight: 500;
  margin-bottom: 20px;
}

footer .newslatter .input_div {
  position: relative;
  margin-bottom: 20px;
}

footer .newslatter .input_div input {
  width: 100%;
  height: 48px;
  background-color: #0d0d0d;
  border: 1px solid #1a1a1a;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #6c757d;
}

footer .newslatter .input_div input:focus {
  outline: 0;
  border-color: #ffcf03;
}

footer .newslatter .input_div .btn_newsla {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  background-color: #ffcf03;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.5;
  transition: 0.5;
  color: #000000;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .newslatter .input_div .btn_newsla:hover {
  color: #ffffff;
  background-color: transparent;
}

html[dir="rtl"] footer .newslatter .input_div .btn_newsla {
  left: 5px;
}

html[dir="ltr"] footer .newslatter .input_div .btn_newsla {
  right: 5px;
}

footer .ul_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .ul_social a {
  color: #ffffff;
  margin: 15px;
  font-size: 22px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .ul_social a:hover {
  color: #ffcf03;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  footer .ul_social .logo {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .f_div .ul_list {
    display: block;
  }
  .newslatter .coll_ {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  footer {
    padding: 50px 0 20px;
  }
  footer .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  footer .social_media {
    margin-bottom: 40px;
  }
  footer .ul_social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .ul_social li a {
    margin: 0 5px;
  }
  footer .f_div .f_btn {
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-align: start;
  }
  footer .f_div .f_btn::after {
    font-family: "line Awesome Free";
    content: "";
    position: absolute;
    color: #ffffff;
    top: -11px;
    font-size: 14px;
    line-height: 3.273;
    font-weight: 900;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  html[dir="rtl"] footer .f_div .f_btn::after {
    left: 15px;
  }
  html[dir="ltr"] footer .f_div .f_btn::after {
    right: 15px;
  }
  footer .f_div .f_btn[aria-expanded="true"]::after {
    content: "\f106";
  }
  footer .newslatter {
    padding-top: 40px;
  }
  footer .newslatter .f_btn {
    font-size: 16px;
    text-align: center;
  }
  footer .newslatter p {
    text-align: center;
  }
  footer .f_div .ul_list a {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
  footer .f_div .ul_list li:last-child {
    margin-bottom: 30px;
  }
  footer .f_div .ul_list li:first-child {
    margin-top: -9px;
  }
}

.©_ECCO_STAR_2022__all_rights_reserved {
  font-size: 14px;
  font-family: "Tajawal";
  color: #5c5c5c;
  line-height: 2.143;
  text-align: left;
  position: absolute;
  left: 129.938px;
  top: 4477.567px;
  z-index: 42;
}

.copyright_parant {
  background-color: #050505;
}

.copyright_parant .copyright {
  padding: 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright_parant .copyright > img {
  margin-bottom: 20px;
  max-width: 100%;
}

.copyright_parant .copyright .tasawk, .copyright_parant .copyright p {
  font-size: 14px;
  color: #5c5c5c;
  font-weight: 400;
}

.copyright_parant .copyright .tasawk i, .copyright_parant .copyright p i {
  font-size: 14px;
  color: #ffcf03;
}

.anc_tasawk {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}

@media only screen and (max-width: 767px) {
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .copyright:first-child p {
    margin-bottom: 10px;
  }
  .copyright > img {
    margin-bottom: 10px;
  }
  .copyright .tasawk {
    width: 56%;
    margin: auto;
  }
}

body {
  font-family: "Tajawal";
  font-weight: normal;
  font-style: normal;
}

.ul_gh {
  list-style: none;
  padding: 0;
  margin: 0;
}

.m_P_gh {
  padding: 0;
  margin: 0;
}

.anc_gh {
  display: inline-block;
}

.anc_gh:focus {
  text-decoration: none;
}

.anc_gh:hover {
  text-decoration: none;
}

.btn_gh {
  border: none;
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  outline: none !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moboverlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  overflow: hidden;
}

.over_ {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffcf03;
}

.title_sections {
  position: relative;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.title_sections .t_section {
  font-size: 27px;
  font-family: "Tajawal";
  color: #000000;
  font-weight: 700;
  text-transform: capitalize;
}

.title_sections img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}

.anim_:hover::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.4)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  animation: ShineAnim 5s ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation: ShineAnim 5s ease;
}

@-webkit-keyframes ShineAnim {
  0% {
    left: -100%;
  }
  10% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes ShineAnim {
  0% {
    left: -100%;
  }
  10% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-ExtraLight.woff2") format("woff2"), url("../fonts/Tajawal-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-Light.woff2") format("woff2"), url("../fonts/Tajawal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-Regular.woff2") format("woff2"), url("../fonts/Tajawal-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-Bold.woff2") format("woff2"), url("../fonts/Tajawal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/Tajawal-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-Black.woff2") format("woff2"), url("../fonts/Tajawal-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.ul_drop {
  position: absolute;
  left: -21px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 220px;
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html[dir="rtl"] .ul_drop {
  right: -21px;
}

.ul_drop .anc_drop {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.ul_drop .anc_drop:hover {
  color: #ffcf03;
}

.ul_drop li {
  margin-bottom: 5px;
}

.slider_parant {
  position: relative;
}

.slider_parant .slider {
  margin-bottom: 50px;
}

.slider_parant .slider img {
  max-width: 100%;
}

.slider_parant .slider .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider_parant .slider .owl-nav button.owl-next,
.slider_parant .slider .owl-nav button.owl-prev {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  font-size: 18px;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider_parant .slider .owl-nav button.owl-next:hover,
.slider_parant .slider .owl-nav button.owl-prev:hover {
  background-color: #ffcf03;
  color: #ffffff;
}

html[dir="rtl"] .slider_parant .slider .owl-nav button.owl-prev {
  right: 40px;
}

html[dir="ltr"] .slider_parant .slider .owl-nav button.owl-prev {
  right: 40px;
}

html[dir="rtl"] .slider_parant .slider .owl-nav button.owl-next {
  left: 40px;
}

html[dir="ltr"] .slider_parant .slider .owl-nav button.owl-next {
  left: 40px;
}

@media only screen and (max-width: 767px) {
  .slider_parant .slider .owl-nav {
    display: none;
  }
}

.slider_parant .slider .owl-dots {
  display: none;
}

@media only screen and (max-width: 767px) {
  .slider_parant .slider .owl-nav {
    display: none;
  }
  .slider_parant .slider .owl-dots {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    color: #000000;
    z-index: 9999;
  }
  .slider_parant .slider .owl-dots .owl-dot {
    width: 6px;
    height: 6px;
    background-color: #bdbdbd;
    opacity: 0.5;
    margin: 0 3px;
    border-radius: 50%;
  }
  .slider_parant .slider .owl-dots .active {
    background-color: #ffcf03;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    outline: 0;
  }
}

@media only screen and (max-width: 767px) and (max-width: 767px) {
  .slider_parant .slider .owl-dots {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .slider_parant .slider .owl-dots {
    display: block;
    bottom: 5px;
  }
}

.banner_parant .banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.banner_parant .banner .anc_banner {
  overflow: hidden !important;
  position: relative !important;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.banner_parant .banner .anc_banner img {
  max-width: 100%;
}

.banner_parant .banner .anc_banner:before {
  border: 50px solid transparent;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
  content: "";
  opacity: 1;
  filter: alpha(opacity=100);
  width: 100px;
  height: 100px;
  -webkit-transform: scale(7);
          transform: scale(7);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  visibility: visible;
  z-index: 1;
}

.banner_parant .banner .anc_banner:hover:before {
  border: 0 solid rgba(255, 255, 255, 0.7);
  opacity: 0.9;
  -webkit-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
}

.big_banner .anc_banner {
  position: relative;
  overflow: hidden;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.big_banner .anc_banner img {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .banner_parant .banner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 15px;
  }
  .big_banner {
    margin-bottom: 0px;
  }
}

.Category_parant {
  background-color: #f2f2f5;
  padding: 50px 0 60px;
}

.Category_parant .Category {
  text-align: center;
}

.Category_parant .Category .owl-dots {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  color: #000000;
  z-index: 9999;
}

.Category_parant .Category .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  background-color: #bdbdbd;
  opacity: 0.5;
  margin: 0 3px;
  border-radius: 50%;
}

.Category_parant .Category .owl-dots .active {
  background-color: #ffcf03;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  outline: 0;
}

@media only screen and (max-width: 767px) {
  .Category_parant .Category .owl-dots {
    display: block;
  }
}

.Category_parant .Category .owl-dots {
  bottom: -23px;
}

.Category_parant .Category h3 {
  margin-bottom: 40px;
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
  .Category_parant .Category h3 {
    margin-bottom: 30px;
  }
}

.Category_parant .Category .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Category_parant .Category .owl-nav button.owl-next,
.Category_parant .Category .owl-nav button.owl-prev {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  font-size: 18px;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Category_parant .Category .owl-nav button.owl-next:hover,
.Category_parant .Category .owl-nav button.owl-prev:hover {
  background-color: #ffcf03;
  color: #ffffff;
}

html[dir="rtl"] .Category_parant .Category .owl-nav button.owl-prev {
  right: 40px;
}

html[dir="ltr"] .Category_parant .Category .owl-nav button.owl-prev {
  right: 40px;
}

html[dir="rtl"] .Category_parant .Category .owl-nav button.owl-next {
  left: 40px;
}

html[dir="ltr"] .Category_parant .Category .owl-nav button.owl-next {
  left: 40px;
}

@media only screen and (max-width: 767px) {
  .Category_parant .Category .owl-nav {
    display: none;
  }
}

.Category_parant .Category .owl-nav button.owl-next,
.Category_parant .Category .owl-nav button.owl-prev {
  top: 40%;
}

html[dir="rtl"] .Category_parant .Category .owl-nav button.owl-prev {
  right: -55px;
}

html[dir="ltr"] .Category_parant .Category .owl-nav button.owl-prev {
  right: -55px;
}

html[dir="rtl"] .Category_parant .Category .owl-nav button.owl-next {
  left: -55px;
}

html[dir="ltr"] .Category_parant .Category .owl-nav button.owl-next {
  left: -55px;
}

.Category_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Category_item .anc_cat_img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  margin-bottom: 20px;
}

.Category_item .anc_cat_img:hover {
  border-color: #ffcf03;
}

.Category_item .anc_cat_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Category_item .anc_cat_img img {
  width: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Category_item .anc_category {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Category_item .anc_category:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .Category_parant {
    padding: 50px 0 40px;
  }
  .Category_item .anc_cat_img {
    width: 105px;
    height: 105px;
    padding: 20px;
  }
  .Category_item .anc_cat_img img {
    max-width: 100%;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.feature_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_item i {
  font-size: 30px;
  color: #6c757d;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}

.feature_item .feat_name {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

@media only screen and (max-width: 991px) {
  .features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 40px;
  }
  .feature_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  .feature_item i {
    margin-bottom: 10px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
  }
  .feature_item .feat_name {
    text-align: center;
    font-size: 16px;
    height: 35px;
  }
}

.Bestseller {
  text-align: center;
  padding: 80px 0 70px;
}

.Bestseller .owl-dots {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  color: #000000;
  z-index: 9999;
}

.Bestseller .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  background-color: #bdbdbd;
  opacity: 0.5;
  margin: 0 3px;
  border-radius: 50%;
}

.Bestseller .owl-dots .active {
  background-color: #ffcf03;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  outline: 0;
}

@media only screen and (max-width: 767px) {
  .Bestseller .owl-dots {
    display: block;
  }
}

.Bestseller .owl-dots {
  bottom: -30px;
}

.Bestseller h3 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
  .Bestseller h3 {
    margin-bottom: 30px;
  }
}

.Bestseller .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Bestseller .owl-nav button.owl-next,
.Bestseller .owl-nav button.owl-prev {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  font-size: 18px;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Bestseller .owl-nav button.owl-next:hover,
.Bestseller .owl-nav button.owl-prev:hover {
  background-color: #ffcf03;
  color: #ffffff;
}

html[dir="rtl"] .Bestseller .owl-nav button.owl-prev {
  right: 40px;
}

html[dir="ltr"] .Bestseller .owl-nav button.owl-prev {
  right: 40px;
}

html[dir="rtl"] .Bestseller .owl-nav button.owl-next {
  left: 40px;
}

html[dir="ltr"] .Bestseller .owl-nav button.owl-next {
  left: 40px;
}

@media only screen and (max-width: 767px) {
  .Bestseller .owl-nav {
    display: none;
  }
}

.Bestseller .owl-nav button.owl-next,
.Bestseller .owl-nav button.owl-prev {
  top: 50%;
}

html[dir="rtl"] .Bestseller .owl-nav button.owl-prev {
  right: -55px;
}

html[dir="ltr"] .Bestseller .owl-nav button.owl-prev {
  right: -55px;
}

html[dir="rtl"] .Bestseller .owl-nav button.owl-next {
  left: -55px;
}

html[dir="ltr"] .Bestseller .owl-nav button.owl-next {
  left: -55px;
}

.item_bestseller {
  border: 1px solid #dddddd;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item_bestseller .anc_best_img {
  margin-bottom: 20px;
  position: relative;
}

.item_bestseller .anc_best_img .add_cart {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item_bestseller .anc_best_img .add_cart .btn_cart {
  margin: 0 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #000000;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_bestseller .anc_best_img .add_cart .btn_cart:hover {
  background-color: #ffcf03;
}

.item_bestseller .anc_best_img:hover .add_cart {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.item_bestseller .anc_brand {
  font-size: 12px;
  color: #808080;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 400;
  margin-bottom: 10px;
}

.item_bestseller .anc_bestseller {
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 10px;
}

.item_bestseller .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_bestseller .price p {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

.item_bestseller .price span {
  font-size: 16px;
  color: #808080;
  text-decoration: line-through;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .Bestseller {
    padding: 50px 0 50px;
  }
  .item_bestseller .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item_bestseller .price p {
    font-size: 18px;
  }
}

.brands {
  text-align: center;
  padding: 60px 0 40px;
}

.brands h3 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
  .brands h3 {
    margin-bottom: 30px;
  }
}

.brands img {
  max-width: 100% !important;
}

.brands .owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
}

.brands .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands .owl-nav button.owl-next,
.brands .owl-nav button.owl-prev {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  font-size: 18px;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands .owl-nav button.owl-next:hover,
.brands .owl-nav button.owl-prev:hover {
  background-color: #ffcf03;
  color: #ffffff;
}

html[dir="rtl"] .brands .owl-nav button.owl-prev {
  right: 40px;
}

html[dir="ltr"] .brands .owl-nav button.owl-prev {
  right: 40px;
}

html[dir="rtl"] .brands .owl-nav button.owl-next {
  left: 40px;
}

html[dir="ltr"] .brands .owl-nav button.owl-next {
  left: 40px;
}

@media only screen and (max-width: 767px) {
  .brands .owl-nav {
    display: none;
  }
}

.brands .owl-nav button.owl-next,
.brands .owl-nav button.owl-prev {
  top: 40%;
}

html[dir="rtl"] .brands .owl-nav button.owl-prev {
  right: -55px;
}

html[dir="ltr"] .brands .owl-nav button.owl-prev {
  right: -55px;
}

html[dir="rtl"] .brands .owl-nav button.owl-next {
  left: -55px;
}

html[dir="ltr"] .brands .owl-nav button.owl-next {
  left: -55px;
}

.anc_brand_b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 140px;
  margin: auto;
}

.anc_brand_b img {
  max-width: 100% !important;
}

@media only screen and (max-width: 767px) {
  .brands {
    padding: 40px 0 50px;
  }
  .brands .owl-dots {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    color: #000000;
    z-index: 9999;
  }
  .brands .owl-dots .owl-dot {
    width: 6px;
    height: 6px;
    background-color: #bdbdbd;
    opacity: 0.5;
    margin: 0 3px;
    border-radius: 50%;
  }
  .brands .owl-dots .active {
    background-color: #ffcf03;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    outline: 0;
  }
}

@media only screen and (max-width: 767px) and (max-width: 767px) {
  .brands .owl-dots {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .brands .owl-dots {
    bottom: -30px;
  }
  .brands .owl-nav {
    display: none;
  }
  .anc_brand_b {
    width: auto;
  }
}
/*# sourceMappingURL=main.css.map */