.Category_parant {
  background-color: rgb(242, 242, 245);
  padding: 50px 0 60px;
  .Category {
    text-align: center;
    @include dots_;
    .owl-dots{
      bottom: -35px;
    }
    h3 {
      margin-bottom: 40px;
      @include title_h;
    }
    @include owl-nav_;
    .owl-nav {
      button.owl-next,
      button.owl-prev {
        top: 40%;
      }
      button.owl-prev {
        @include ar {
          right: -55px;
        }
        @include en {
          right: -55px;
        }
      }
      button.owl-next {
        @include ar {
          left: -55px;
        }
        @include en {
          left: -55px;
        }
      }
    }
  }
}
.Category_item {
  display: flex;
  flex-direction: column;
  align-items: center;

  .anc_cat_img {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color_1;
    border: 2px solid transparent;
    transition: 0.5s;
    overflow: hidden;
    margin-bottom: 20px;
    &:hover {
      border-color: $color_3;
      img {
        transform: scale(1.1);
      }
    }
    img {
      width: auto;
      transition: 0.5s;
    }
  }
  .anc_category {
    font-size: $font_s + 2;
    color: $main_color;
    font-weight: 500;
    transition: 0.5s;
    &:hover {
      text-decoration: underline;
    }
  }
}

@include xs{
  .Category_parant {
    padding: 50px 0 40px;
  }
  .Category_item{
    .anc_cat_img{
      width: 105px;
      height: 105px;
      padding: 20px;
      img{
        max-width: 100%;
      }
    }
  }
}