footer {
  padding: 60px 0 50px;
  background-color: $main_color;
  .f_div {
    .f_btn {
      font-size: $font_s;
      color: $color_1;
      margin-bottom: 20px;
      font-weight: 700;
      text-transform: capitalize;
    }
    .ul_list {
      text-align: start;
      a {
        font-size: $font_s - 2;
        font-weight: 500;
        line-height: 2;
        transition: 0.5s;
        color: #959595;
        &:hover {
          color: $color_3;
          @include ar {
            transform: translateX(-5px);
          }
          @include en {
            transform: translateX(5px);
          }
        }
      }
    }
  }

  .newslatter {
    text-align: start;
    h4 {
      font-size: $font_s;
      font-weight: 700;
      color: $color_1;
      margin-bottom: 20px;
    }
    p {
      font-size: $font_s;
      color: #959595;
      font-weight: 500;
      margin-bottom: 20px;
      @include ar{
      font-size: $font_s - 2;
        
      }
    }
    .input_div {
      position: relative;
      margin-bottom: 20px;
      input {
        width: 100%;
        height: 48px;
        background-color: rgb(13, 13, 13);
        border: 1px solid #1a1a1a;
        padding-inline-start: 20px;
        font-size: $font_s - 2;
        font-weight: 500;
        color: $color_2;
        &:focus {
          outline: 0;
          border-color: $color_3;
        }
      }
      .btn_newsla {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        background-color: $color_3;
        width: 36px;
        height: 36px;
        transition: 0.5;
        color: $main_color;
        font-size: $font_s + 6;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          color: $color_1;
          background-color: transparent;
        }
        @include ar {
          left: 5px;
        }
        @include en {
          right: 5px;
        }
      }
    }
  }
  .ul_social {
    display: flex;
    justify-content: center;
    a {
      color: $color_1;
      margin: 15px;
      font-size: $font_s * 2 - 2;
      transition: 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: $color_3;
        transform: translateY(-5px);
        text-decoration: none;
      }
    }
    @include xs {
      .logo {
        text-align: center;
      }
    }
  }
}
@include min_ {
  .f_div {
    .ul_list {
      display: block;
    }
  }
  .newslatter {
    .coll_ {
      display: block;
    }
  }
}
@include sm {
  footer {
    padding: 50px 0 20px;
    .logo {
      text-align: center;
      margin-bottom: 20px;
    }
    .social_media {
      margin-bottom: 40px;
    }
    .ul_social {
      justify-content: center;
    }
    .f_div {
      .f_btn {
        font-size: $font_s;
        width: 100%;
        height: 100%;
        text-align: start;
        @include angle_;
      }
    }
    .newslatter {
      padding-top: 40px;
      .f_btn {
        font-size: $font_s;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    .f_div {
      .ul_list {
        a {
          margin-inline-start: 15px;
        }
        li:last-child {
          margin-bottom: 30px;
        }
        li:first-child {
          margin-top: -9px;
        }
      }
    }
  }
}


.copyright_parant {
  background-color: #050505;
  .copyright {
    padding: 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > img {
      margin-bottom: 20px;
      max-width: 100%;
    }
    .tasawk , p {
      font-size: $font_s - 2;
      color: #5c5c5c;
      font-weight: 400;
      i {
        font-size: $font_s - 2;
        color: $color_3;
      }
    }
  }
}
.anc_tasawk {
  margin-inline-start: 5px;
}
@include xs {
  .copyright {
    flex-direction: column;
    &:first-child{
      p{
        margin-bottom: 10px;
      }
    }
    > img {
      margin-bottom: 10px;
    }
    .tasawk {
      width: 56%;
      margin: auto;
    }
  }
}
